@import "../libs/colours.css";

.song-list-header {
    width: clamp(360px, 28vw, 720px) !important;
}

.song-list-content {
    padding: 10px 20px 10px !important;
}

.link-underline {
    text-decoration: 1px solid var(--primary-accent);
}

.app-list-header {
    width: clamp(240px, 17vw, 720px) !important;
}

.app-list-content {
    padding: 10px 20px 10px !important;
}


