@import "../libs/fonts.scss";

$body-font: 400 12pt 'DinaRemasterII', monospace;
$button-font: 400 24pt 'm3x6', monospace;
$code-font: 400 12pt 'DinaRemasterII', monospace;
$title-font: 500 48pt 'm5x7', monospace;

.login {
  text-align: left !important;
  border: 1px solid var(--primary-accent);
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--color);
  font: $body-font;
  padding: 5px 10px;
  margin: 10px;
}

.login_title {
  border: 1px dashed var(--primary-accent);
  border-radius: 5px;
  background-color: var(--background-color-accent);
  color: var(--color);
  font: $title-font;
  text-decoration: underline 2px var(--primary-accent);
  font-size: 24pt;
  padding: 0 10px 5px;
}

.login-button {
  font: $button-font;
  color: var(--color);
  background-color: var(--background-color);
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding: 0 5px 30px;
  margin: .1%;
  border: 1px solid var(--primary-accent);
  border-bottom: 3px double var(--primary-accent);
  transition: 0.1s cubic-bezier(.07, .95, 0, 1);
  line-height: 1.5rem;
  width: 100px;
  height: 1.5rem;
}

.login-button:hover {
  background-color: var(--background-color-accent);
  transition: 0.5s cubic-bezier(.07, .95, 0, 1);
}

.login-button:active {
  color: var(--primary-accent);
  background-color: var(--text-accent);
  transition: 0.1s cubic-bezier(.07, .95, 0, 1);
}

.blog-label {
  border: 1px dashed var(--primary-accent);
  border-radius: 5px;
  background-color: var(--background-color-accent);
  color: var(--color);
  font: $title-font;
  text-decoration: underline 2px var(--primary-accent);
  font-size: 24pt;
  padding: 0 10px 5px;
  margin: 5px 10px 5px;
}

.blog-input-title {
  border: 1px solid var(--primary-accent);
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--color);
  font: $body-font;
  padding: 0 5px 5px;
  margin: 15px;
  width: 80vw;
}

.blog-input-area {
  border: 1px solid var(--primary-accent);
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--color);
  font: $body-font;
  padding: 0 5px 5px;
  margin: 15px;
  width: 80vw;
  height: 50vh;
}

