nav ul {
  display: flex;
  justify-content: center;
  margin: 1vh;
  text-align: center;
  place-items: center;
  list-style-type: none !important;
}

nav li {
  text-indent: 0 !important;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  padding: 0 1rem;
  margin: .1%;
  border-bottom: 3px double var(--primary-accent);
  transition: 0.1s cubic-bezier(.07, .95, 0, 1);
  line-height: 1.5rem;
  height: 1.5rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25) !important;
}

nav li:hover {
  background-color: var(--background-color-accent);
  border-bottom: 2px solid var(--primary-accent);
  transition: 0.5s cubic-bezier(.07, .95, 0, 1);
  margin: 0;
  width: clamp(100px, 10vw, 20vw) !important;
}

nav a {
  text-align: center;
  text-indent: 0;
  text-decoration: none;
  transition: 0.1s cubic-bezier(.07, .95, 0, 1);
  margin: auto !important; 
  padding: auto;
  width: min-content;
}

nav a:hover {
  transition: 0.5s cubic-bezier(.07, .95, 0, 1);
  color: var(--background-color) !important;
  width: 100%;
}
