@import url("./index.scss");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  background: var(--logo);
  background-size: 40vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@mixin mode-switcher {
    --background-color: var(--dark);
    --color: var(--light);
    transition: .3s ease-in-out;
  @media (prefers-color-scheme: light) {
  --background-color: var(--light);
  --color: var(--dark);
  transition: .3s ease-in-out;
  }
}

.App-header {
  @include mode-switcher;
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin) !important;
  color: var(--color);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
